<settings>
<category label="Network">
   <setting type="lsep" label="Network configuration" />
   <setting id="discover" type="action" label="Start automatic discovery" action="RunScript(pioneer.remote.control,start_discover)" />
	<setting id="receiver_ip" type="ipaddress" label="IP address" default="Enter receiver IP here" />
</category>
<category label="Settings">
   <setting type="lsep" label="Power ON/OFF" />
	<setting id="power_on_boot" type="bool" label="Power ON A/V receiver at boot" default="false"/>
   <setting id="power_off_shutdown" type="bool" label="Power OFF A/V receiver at shutdown" default="false"/>
   <setting type="lsep" label="Input" />
	<setting id="input_boot" type="bool" label="Change input at boot" default="false"/>
   <setting id="input_boot_value" type="enum" label="Input" default="1" visible="eq(-1,true)" values="BD|DVD|SAT/CBL|DVR/BDR|HDMI 4|HDMI 5/MHL|HDMI 6|HDMI 7|TV" />
	<setting id="input_shutdown" type="bool" label="Change input at shutdown" default="false"/>
   <setting id="input_shutdown_value" type="enum" label="Input" default="1" visible="eq(-1,true)" values="BD|DVD|SAT/CBL|DVR/BDR|HDMI 4|HDMI 5/MHL|HDMI 6|HDMI 7|TV" />
   <setting type="lsep" label="Volume" />
   <setting id="volume_boot" type="bool" label="Set volume at booting" default="false"/>
   <setting id="volume_boot_value" type="slider" label="Value" default="-80" visible="eq(-1,true)" range="-80,0.5,12" option="float" />
   <setting id="volume_shutdown" type="bool" label="Set volume at shutdown" default="false"/>
   <setting id="volume_shutdown_value" type="slider" label="Value" default="-80" visible="eq(-1,true)" range="-80,0.5,12" option="float" />
   <setting type="lsep" label="Others settings" />
   <setting id="reload_initial_settings" type="bool" label="Reload initial A/V settings at shutdown" default="false" />
   <setting id="disable_notifications" type="bool" label="Disable notifications" default="false" />
   <setting id="debug" type="bool" label="Debug" default="false" />
</category>
</settings>
